.container {
    display: flex;
    flex-wrap: wrap;
  }
.card{
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    height: 46rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.name {
    background: indigo;
    color: white;
    font-weight: bold;
}
.card-description{
    font-size: 1.25rem;
    height: 11.5rem;
    margin: 10px;
}
.card-price{
    background-color: #909090;
    margin: 10px;
}
.card-category{
    background-color: #a0a0a0;
    margin: 10px;
}
.card-badge-pill{
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
    background-color: #1f8fff;
    margin: 10px;
}
.product-img-div{
    /* position: absolute; */
    margin: 10px;
}
.product-img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}